<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MrBreadBackc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,80}</string>
                <key>spriteSourceSize</key>
                <string>{31,80}</string>
                <key>textureRect</key>
                <string>{{0,492},{31,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadBackc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,80}</string>
                <key>spriteSourceSize</key>
                <string>{31,80}</string>
                <key>textureRect</key>
                <string>{{31,492},{31,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadBackc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,80}</string>
                <key>spriteSourceSize</key>
                <string>{31,80}</string>
                <key>textureRect</key>
                <string>{{62,492},{31,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadForwardc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,79}</string>
                <key>spriteSourceSize</key>
                <string>{31,79}</string>
                <key>textureRect</key>
                <string>{{93,492},{31,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadForwardc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,79}</string>
                <key>spriteSourceSize</key>
                <string>{31,79}</string>
                <key>textureRect</key>
                <string>{{0,572},{31,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadForwardc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,79}</string>
                <key>spriteSourceSize</key>
                <string>{31,79}</string>
                <key>textureRect</key>
                <string>{{31,572},{31,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadRunb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{58,896},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadRunb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{0,977},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadRunb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{58,977},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadRunb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{0,1058},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadRunb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{58,1058},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadRunb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{0,1139},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadRunb7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{58,1139},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadRunb8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{0,1220},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadr1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{62,572},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadr2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{0,653},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadr3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{58,653},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadr4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{0,734},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadr5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{58,734},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadr6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{0,815},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadr7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{58,815},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MrBreadr8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{0,896},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fallb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,123}</string>
                <key>spriteSourceSize</key>
                <string>{63,123}</string>
                <key>textureRect</key>
                <string>{{0,0},{63,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fallb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,123}</string>
                <key>spriteSourceSize</key>
                <string>{63,123}</string>
                <key>textureRect</key>
                <string>{{63,0},{63,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fallf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,123}</string>
                <key>spriteSourceSize</key>
                <string>{63,123}</string>
                <key>textureRect</key>
                <string>{{0,123},{63,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fallf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,123}</string>
                <key>spriteSourceSize</key>
                <string>{63,123}</string>
                <key>textureRect</key>
                <string>{{63,123},{63,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,123}</string>
                <key>spriteSourceSize</key>
                <string>{63,123}</string>
                <key>textureRect</key>
                <string>{{0,246},{63,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,123}</string>
                <key>spriteSourceSize</key>
                <string>{63,123}</string>
                <key>textureRect</key>
                <string>{{63,246},{63,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,123}</string>
                <key>spriteSourceSize</key>
                <string>{63,123}</string>
                <key>textureRect</key>
                <string>{{0,369},{63,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,123}</string>
                <key>spriteSourceSize</key>
                <string>{63,123}</string>
                <key>textureRect</key>
                <string>{{63,369},{63,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MrBreadfull.png</string>
            <key>size</key>
            <string>{126,1301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e95562c3744a89606a77f5b21ed9cc4c:7221bb79481c169c551c4265051439e2:c2e5f8bfcf8e376d7f5ca28e570b50eb$</string>
            <key>textureFileName</key>
            <string>MrBreadfull.png</string>
        </dict>
    </dict>
</plist>
